name: Generate arXiv HTML

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch: # Allow manual triggering

jobs:
  generate-html:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Restore input cache
        uses: actions/cache/restore@v5
        with:
          path: _input.csv
          key: input-cache-

      - name: Download input CSV
        run: curl -L -o _input.new.csv "${{ secrets.INPUT_CSV_URL }}"

      - name: Check if input CSV has changed
        id: check_input
        if: ${{ hashFiles('_input.new.csv') != hashFiles('_input.csv') }}
        run: mv _input.new.csv _input.csv

      - name: Restore data cache
        if: steps.check_input.outcome == 'success'
        uses: actions/cache/restore@v5
        with:
          path: _data.json
          key: data-cache-

      - name: Set up Python
        if: steps.check_input.outcome == 'success'
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Create output directory
        if: steps.check_input.outcome == 'success'
        run: mkdir -p _pages

      - name: Generate HTML
        if: steps.check_input.outcome == 'success'
        run: python run.py _input.csv _pages/index.html --cache=_data.json

      - name: Save input cache
        if: steps.check_input.outcome == 'success'
        uses: actions/cache/save@v5
        with:
          path: _input.csv
          key: input-cache-${{ github.run_id }}

      - name: Save data cache
        if: steps.check_input.outcome == 'success'
        uses: actions/cache/save@v5
        with:
          path: _data.json
          key: data-cache-${{ github.run_id }}

      - uses: peaceiris/actions-gh-pages@v4
        if: steps.check_input.outcome == 'success'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _pages
